<!DOCTYPE html>
<html>

{% include head.html %}
{% include analytics.html %}
<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T668JSDW"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

	<div id="wrap">
	  	
    <!-- Navigation -->
    {% include menu.html %}
    
    <!-- Icon menu -->
	  <a id="nav-menu">
	  	<div id="menu"></div>
	  </a>
    <!-- Header -->
    {% include header.html %}
    <!-- Main content -->
	  <div id="container">
      <main>
        {{ content }}
      </main>		
      <!-- Pagination links -->
      {% if paginator.total_pages > 1 %}
      <div class="pagination">
        {% if paginator.previous_page == 1 %}
          <a href="{{ '/' | prepend: site.baseurl | replace: '//', '/' }}" class="page-item">&laquo; Posts recentes</a>
        {% elsif paginator.previous_page%}
          <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="page-item">&laquo; Posts recentes</a>
        {% else %}
          <span class="page-item">&laquo; Posts recentes</span>
        {% endif %}
              
        {% if paginator.next_page %}
          <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="page-item">Posts antigos &raquo;</a>
        {% else %}
          <span class="page-item">Posts antigos &raquo;</span>
        {% endif %}
      </div>
      {% endif %}
	  </div>
    
    <!-- Footer -->
    {% include footer.html %}
    <!-- Script -->
    {% include script.html %}
	</div>
</body>
</html>
